:root {
  font-family: Georgia;
  background-image: url('../Images/zen-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  background-color: rgb(149, 174, 182);
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: black;
}

#top-title {
  text-align: center;
}


#section::after {
  content: "";
  display: table;
  clear: both;
}

#nav {
  float: left;
  width: 180px;
  height: 900px;
  background: rgb(169, 197, 206);
  padding: 10px;
}

#ul {
  list-style-type: none;
  padding: 0;
  width: 5%;
}

.column {
  display: none;
  flex-direction: column;
}

.column:target{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.container {
  padding: min(5em, 8%);
  width: 1000px;
  background-color: rgb(186, 239, 255);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 1em;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
}

.topic-content {
  display: flex;
  flex-direction: row;
}

.gruender-layout {
  display: flex;
  align-items: start;
}

.gruender-text {
  flex: 2;
}

.gruender-image {
  flex: 1;
}

.gruender-image img {
  max-width: 100%;
  height: auto;
  border-radius: 1.5em;
}